<div class="powers">
  @for (power of groupedPowers; track $index) {
    <div class="powers__row">
      <span class="powers__name">
        {{ ("power." + power.function.toLocaleLowerCase() | translate) | capitalize }}@if (domain) { ({{ domain }})}
      </span>
      <div class="powers__actions">
        @for (action of power.actions; track $index) {
          <span class="powers__action">
            {{ ("power." + action.toLocaleLowerCase() | translate) | capitalize }}
          </span>
        }
      </div>
    </div>
  }
</div>
